.advantage{
    background-color: $grey-light;
    border-radius: $border-radius;
    padding: $spacer;

    display: grid;
    grid-gap: $spacer;
    grid-template-columns: 72px auto;

    &__icon{
        width: 72px;
        height: 72px;
        background: no-repeat center / contain;
        border-radius: $border-radius;

        &_service{
            width: 48px;
            height: 48px;
        }
    }
    &__title{
        font-weight: $font-weight-bold;
        margin-bottom: $spacer-gutter/2;
    }
}
// < 1440px
@media all and (max-width: map-get($grid-breakpoints, 'xl')){
    .advantage{
        grid-template-columns: 64px auto;

        &__icon{
            width: 64px;
            height: 64px;
            
            &_service{
                width: 48px;
                height: 48px;
            }
        }
    }
}
// < 768px
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .advantage{
        grid-template-columns: 1fr;
    }
}
// < 576px
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .advantage{
        grid-template-columns: 64px auto;
    }
}