.review_search{
    position: relative;

    width: 560px;
    max-width: 100%;
    height: 640px;

    margin-left: auto;
    margin-right: auto;
    overflow: hidden;

    &__header{
        border-bottom: 1px solid $border-color;
    }
    &__more{
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
        padding: 20px 16px;
        background-color: $white;

        &:after {
            content: '';

            position: absolute;
            left: 0;
            right: 0;
            top: 0;

            transform: translateY(-100%);

            height: 40px;
            width: 100%;

            background: linear-gradient(180deg, rgba(255, 255, 255, 0), #fff);
        }
    }
    &__item {
        margin-top: $spacer;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    &__content-col {
        max-width: calc(100% - 45px);
        flex: 0 0 calc(100% - 45px);
    }
    &__image-col {
        max-width: 40px;
        flex: 0 0 40px;
    }
    &__rating {
        padding: $spacer 0;
    }
    &__item-rating {
        padding: $spacer-gutter 0 0;
    }
    &__text {
        font-size: map-get($map: $font-size, $key: xs);
        margin-bottom: $spacer-gutter;
    }
}
  