.btn_action{
    border-radius: $border-radius;
    color: $white;
    background: $yellow;
    text-align: center;

    padding: $spacer/2 $spacer;

    &:hover, &:focus{
        background-color: darken($color: $yellow, $amount: 10);
        color: $white;
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'md')){
}
@media all and (max-width: map-get($grid-breakpoints, 'xs')){
}