.btn{
    border: none;
    outline: none;
    box-shadow: none;

    font-family: $font-family-heading;
    font-size: map-get($map: $font-size, $key: "md");
    line-height: $line-height-base;
    font-weight: $font-weight-bold;
    
    background-color: inherit;
    transition: $transition-base;

    &:hover, &:focus{
        text-decoration: none;
        outline: none;
    }
}