.btn{
    border: none;
    outline: none;
    box-shadow: none;
    text-decoration: none;

    text-align: center;

    font-size: map-get($map: $font-size, $key: "md");
    line-height: $line-height-base;
    font-weight: $font-weight-bold;
    
    background-color: inherit;
    transition: $transition-base;

    &--full{
        width: 100%;
    }

    &:hover, &:focus{
        text-decoration: none;
        outline: none;
    }
}