.nav{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    &__item{
        color: $white;
        margin-right: map-get($map: $spacers, $key: 2);
        transition: $transition-base;
        text-decoration: none;
        white-space: nowrap;

        &--active, &:hover{
            color: $yellow;
            text-decoration: none;
        }

        &_additional{
            font-size: map-get($map: $font-size, $key: xs);
            color: $white;
            filter: opacity(.75);

            &:hover{
                color: $white;
                filter: opacity(1);
            }
        }
    }
}
// < 1440px
@media all and (max-width: map-get($grid-breakpoints, 'xl')){
}
// < 1024px
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
}
// < 768px
@media all and (max-width: map-get($grid-breakpoints, 'md')){
}