.swiper {
    width: 100%;
    height: auto;

    .swiper-wrapper,
    .swiper-container{
        height: auto;
        height: intrinsic;
    }

    .swiper-slide {
        width: auto;
        height: auto;
        height: intrinsic;
    }
}