.form_cta{
    width: 575px;
    max-width: 100%;
    margin-left: auto;

    &__row{
        display: grid;
        grid-gap: $spacer-gutter;
        grid-template-columns: 1fr 180px;

        margin-top: $spacer-gutter;
    }
}

// < 1440px
@media all and (max-width: map-get($grid-breakpoints, 'xl')){
}
// < 1024px
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .form_cta{
        margin-left: 0;
    }
}
// < 576px
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .form_cta{
        &__row{
            grid-template-columns: 1fr;
        }
    }
}