.form{
    margin-bottom: 0;

    &__validation{
        // MODX
        .error{
            display: block;
            margin-top: $spacer-gutter;
            font-size: map-get($map: $font-size, $key: xs);
        }
    }
    &__agree{
        margin-top: $spacer;
        font-size: map-get($map: $font-size, $key: xs);
        line-height: $headings-line-height;
        // color: $brown-light;
        filter: opacity(.5);

        width: 400px;
        max-width: 100%;
    }
}