.form_strategy{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 260px;

    width: 860px;

    &__btn{
        padding-left: 32px;
        padding-right: 32px;
    }
}

// < 1440px
@media all and (max-width: map-get($grid-breakpoints, 'xl')){
    .form_strategy{
        grid-template-columns: 1fr;
        // width: 420px;
        max-width: 100%;
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .form_strategy{
        // width: 360px;
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'xs')){
    .form_strategy{
        grid-template-columns: 1fr;
    }
}