.tags{
    &__item{
        padding: 6px 12px;
        border-radius: $border-radius;
        border: 1px solid $yellow;
        text-decoration: none;

        font-size: map-get($map: $font-size, $key: xs);

        margin-bottom: 4px;

        &:hover, &:focus{
            text-decoration: none;
            border-color: $link-hover-color;
        }
    }
}