.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.nav__item {
  color: #ffffff;
  margin-right: 36px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  text-decoration: none;
  white-space: nowrap;
}

.nav__item--active, .nav__item:hover {
  color: #C4872F;
  text-decoration: none;
}

.nav__item_additional {
  font-size: 12px;
  color: #ffffff;
  -webkit-filter: opacity(0.75);
  filter: opacity(0.75);
}

.nav__item_additional:hover {
  color: #ffffff;
  -webkit-filter: opacity(1);
  filter: opacity(1);
}

.nav__item_child {
  white-space: normal;
  margin: 0;
}

.nav__link {
  color: #ffffff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  text-decoration: none;
  white-space: nowrap;
}

.nav__link--active, .nav__link:hover {
  color: #C4872F;
  text-decoration: none;
}

.nav__children {
  display: none;
  position: absolute;
  bottom: 12px;
  left: 0;
  z-index: 999;
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  background: #1A1A1A;
  border-top: 1px solid #4B403F;
  width: 100%;
  padding-top: 24px;
  padding-bottom: 24px;
}

.nav__children_index {
  bottom: 36px;
}

.nav__children--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media all and (max-width: 1440px) {
  .nav__item_additional {
    margin-right: 24px;
  }
}

@media all and (max-width: 768px) {
  .nav__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    margin-bottom: 12px;
  }
  .nav__item_child {
    margin-bottom: 0;
  }
  .nav__children {
    position: unset;
    -webkit-transform: unset;
    -ms-transform: unset;
    transform: unset;
    margin-top: 12px;
    padding: 12px 0;
    border: 1px solid #4B403F;
  }
}

.nav_children {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}

@media all and (max-width: 768px) {
  .nav_children {
    grid-gap: 12px;
  }
}

.btn {
  border: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.4;
  font-weight: 700;
  background-color: inherit;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.btn:hover, .btn:focus {
  text-decoration: none;
  outline: none;
}

.btn_action {
  border-radius: 4px;
  color: #ffffff;
  background: #C4872F;
  text-align: center;
  padding: 12px 24px;
}

.btn_action:hover, .btn_action:focus {
  background-color: #9b6b25;
  color: #ffffff;
}

.btn_small {
  font-size: 12px;
  padding: 6px 12px;
}

.form {
  margin-bottom: 0;
}

.form__validation .error {
  display: block;
  margin-top: 12px;
  font-size: 12px;
}

.form__agree {
  margin-top: 24px;
  font-size: 12px;
  line-height: 1.2;
  -webkit-filter: opacity(0.5);
  filter: opacity(0.5);
  width: 400px;
  max-width: 100%;
}

.form_cta {
  width: 575px;
  max-width: 100%;
  margin-left: auto;
}

.form_cta__row {
  display: grid;
  grid-gap: 12px;
  grid-template-columns: 1fr 180px;
  margin-top: 12px;
}

@media all and (max-width: 1024px) {
  .form_cta {
    margin-left: 0;
  }
}

@media all and (max-width: 576px) {
  .form_cta__row {
    grid-template-columns: 1fr;
  }
}

.input {
  border: none;
  outline: none;
  font-size: 14px;
  line-height: 1.4;
  border: 1px solid #ffffff;
  border-radius: 4px;
  background: #ffffff;
  padding: 12px 24px;
}

.input::-webkit-input-placeholder {
  -webkit-filter: opacity(1);
  filter: opacity(1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.input::-moz-placeholder {
  filter: opacity(1);
  -moz-transition: 0.3s;
  transition: 0.3s;
}

.input:-ms-input-placeholder {
  filter: opacity(1);
  -ms-transition: 0.3s;
  transition: 0.3s;
}

.input::-ms-input-placeholder {
  filter: opacity(1);
  -ms-transition: 0.3s;
  transition: 0.3s;
}

.input::placeholder {
  -webkit-filter: opacity(1);
  filter: opacity(1);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.input:focus::-webkit-input-placeholder {
  -webkit-filter: opacity(0);
  filter: opacity(0);
}

.input:focus::-moz-placeholder {
  filter: opacity(0);
}

.input:focus:-ms-input-placeholder {
  filter: opacity(0);
}

.input:focus::-ms-input-placeholder {
  filter: opacity(0);
}

.input:focus::placeholder {
  -webkit-filter: opacity(0);
  filter: opacity(0);
}

.input_full {
  width: 100%;
}

.input_inverse {
  background: #F7F7F5;
  border-color: #EBEBEB;
}

.input--error {
  border-color: #BE4141;
}

@media all and (max-width: 375px) {
  .input {
    padding: 16px;
  }
}

.modal {
  display: none;
  width: 640px;
  max-width: 100%;
}

.modal__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
}

.label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0 16px;
  line-height: 26px;
  font-size: 12px;
  color: #9E877F;
  border: 1px solid #9E877F;
  border-radius: 20px;
}

.label_action {
  background-color: #415E4A;
  color: #ffffff;
  border-color: #415E4A;
}

.swiper {
  width: 100%;
  height: auto;
}

.swiper .swiper-wrapper,
.swiper .swiper-container {
  height: auto;
  height: intrinsic;
}

.swiper .swiper-slide {
  width: auto;
  height: auto;
  height: intrinsic;
}

.slider__title {
  font-weight: 700;
  margin: 24px 0;
}

.slider__image {
  overflow: hidden;
  border-radius: 4px;
}

.slider__arrow.swiper-button-disabled {
  -webkit-filter: opacity(0.5);
  filter: opacity(0.5);
}

.slider__arrow:not(.swiper-button-disabled):hover {
  cursor: pointer;
}

.slider__arrow:not(.swiper-button-disabled):hover path {
  fill: #1A1A1A;
}

.slider__arrow path {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.slider_review:not(.swiper-initialized) .slider_review__wrapper {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(2, 1fr);
}

.slider_review:not(.swiper-initialized) .slider_review__arrows {
  display: none;
}

.slider_review.swiper-initialized {
  margin-top: -60px;
}

.slider_review__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.slider_review__arrows {
  display: grid;
  grid-gap: 12px;
  grid-template-columns: repeat(2, 16px);
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-bottom: 48px;
}

@media all and (max-width: 375px) {
  .slider_review.swiper-initialized {
    margin-top: -54px;
  }
  .slider_review__arrows {
    margin-bottom: 36px;
  }
}

.slider_sales {
  position: relative;
}

.slider_sales__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  left: 50%;
  bottom: 0;
  z-index: 11;
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
}

.slider_sales__pagination {
  display: inline-block;
  width: auto;
  padding: 0 12px;
}

.slider_sales__item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 48px;
}

@media all and (max-width: 1440px) {
  .slider_sales__item {
    grid-gap: 36px;
  }
}

@media all and (max-width: 1024px) {
  .slider_sales {
    padding-bottom: 48px;
  }
  .slider_sales__title {
    font-size: 24px;
  }
  .slider_sales__item {
    grid-template-columns: 1fr 1fr;
    grid-gap: 24px;
  }
  .slider_sales__nav {
    -webkit-transform: translateX(12px);
    -ms-transform: translateX(12px);
    transform: translateX(12px);
  }
}

@media all and (max-width: 768px) {
  .slider_sales__nav {
    left: 0;
    -webkit-transform: unset;
    -ms-transform: unset;
    transform: unset;
  }
  .slider_sales__item {
    grid-template-columns: 1fr;
    grid-gap: 24px;
  }
}

.slider_licences.swiper-initialized {
  padding-right: 36px;
  overflow: visible;
}

.advantage {
  background-color: #F7F7F5;
  border-radius: 4px;
  padding: 24px;
  display: grid;
  grid-gap: 24px;
  grid-template-columns: 72px auto;
}

.advantage__icon {
  width: 72px;
  height: 72px;
  background: no-repeat center / contain;
  border-radius: 4px;
}

.advantage__icon_service {
  width: 48px;
  height: 48px;
}

.advantage__title {
  font-weight: 700;
  margin-bottom: 6px;
}

@media all and (max-width: 1440px) {
  .advantage {
    grid-template-columns: 64px auto;
  }
  .advantage__icon {
    width: 64px;
    height: 64px;
  }
  .advantage__icon_service {
    width: 48px;
    height: 48px;
  }
}

@media all and (max-width: 768px) {
  .advantage {
    grid-template-columns: 1fr;
  }
}

@media all and (max-width: 576px) {
  .advantage {
    grid-template-columns: 64px auto;
  }
}

.advantage_service {
  padding: 24px;
  grid-template-columns: 48px auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media all and (max-width: 1440px) {
  .advantage_service {
    grid-template-columns: 48px auto;
  }
}

@media all and (max-width: 768px) {
  .advantage_service {
    grid-template-columns: 1fr;
  }
}

@media all and (max-width: 576px) {
  .advantage_service {
    grid-template-columns: 48px auto;
  }
}

.item {
  position: relative;
}

.item__title {
  font-weight: bold;
  margin-bottom: 12px;
}

.item__label {
  margin-bottom: 12px;
}

.item__image {
  border-radius: 4px;
}

.item__link {
  padding-left: 42px;
  background: url("../icon/mdi-light_arrow-right.svg") no-repeat left center/26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 26px;
}

.item_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-decoration: none;
  color: #4B403F;
  padding: 24px;
  padding-right: 48px;
  background: #ffffff;
  border-radius: 4px;
  border: 1px solid #EBEBEB;
}

.item_link__intro {
  font-size: 12px;
  color: #9E877F;
  margin-top: 6px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
}

.item_link:hover {
  color: #C4872F;
  text-decoration: none;
}

.item_link:hover:after {
  -webkit-transform: translateX(6px);
  -ms-transform: translateX(6px);
  transform: translateX(6px);
}

.item_link:after {
  position: absolute;
  top: calc( 50% - 12px);
  right: 24px;
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url("../icon/mdi-light_arrow-right.svg") no-repeat center/contain;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

@media all and (max-width: 375px) {
  .item_link {
    padding: 12px;
    padding-right: 48px;
  }
}

.item_programm {
  padding: 24px;
  border-radius: 4px;
  background: #F7F7F5;
  display: grid;
  grid-gap: 24px;
  grid-template-rows: 2.4em auto;
}

.item_programm__inform {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 16px;
  height: 16px;
  background: url("../icon/info.svg") no-repeat center/contain;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.item_programm__inform:hover {
  -webkit-filter: opacity(0.5);
  filter: opacity(0.5);
}

.item_programm__title {
  display: block;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
  text-decoration: none;
  color: #4B403F;
  max-width: calc(100% - 16px);
}

.item_programm__title:hover {
  color: #C4872F;
}

.item_programm__subtitle {
  color: #9E877F;
  margin-bottom: 12px;
}

.item_programm__list-item {
  display: grid;
  grid-gap: 12px;
  grid-template-columns: 16px auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 12px;
}

.item_programm__list-item:before {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  background: url("../icon/mdi-light_check.svg") no-repeat center/contain;
}

.item_programm__list-item:last-child {
  margin-bottom: 0;
}

.item_programm__order {
  margin: 24px 0;
  padding: 24px 0;
  border-top: 1px solid #EBEBEB;
  border-bottom: 1px solid #EBEBEB;
}

.item_programm__order-link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.08em;
}

.item_programm__sep {
  margin: 24px 0;
  width: 100%;
  height: 1px;
  background-color: #EBEBEB;
}

.item_programm__link-item {
  display: grid;
  grid-gap: 12px;
  grid-template-columns: 16px auto;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 12px;
}

.item_programm__link-item:before {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  background: url("../icon/jam_arrow-up-right.svg") no-repeat center/contain;
}

.item_programm__link-item:last-child {
  margin-bottom: 0;
}

@media all and (max-width: 768px) {
  .item_programm {
    grid-template-rows: 3.6em auto;
  }
}

@media all and (max-width: 576px) {
  .item_programm {
    grid-template-rows: 2.4em auto;
  }
}

.item_sale {
  background-color: #ffffff;
  color: #1A1A1A;
  border-radius: 4px;
  padding: 24px;
  text-align: center;
}

.item_sale__title {
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  color: #C4872F;
  margin: 6px 0px;
}

.item_sale__icon {
  margin: 0 auto;
  max-width: 48px;
}

.item_news {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: 64px auto;
  text-decoration: none;
  margin-bottom: 24px;
}

.item_news__date {
  color: #9E877F;
}

.item_news:last-child {
  margin-bottom: 0;
}

.item_news:hover {
  text-decoration: none;
}

.item_clickable-img {
  border-radius: 4px;
  overflow: hidden;
}

.item_clickable-img__inside {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.item_clickable-img__inside:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.check-list {
  display: grid;
  grid-gap: 12px;
  grid-template-columns: 16px auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 6px;
}

.check-list:last-child {
  margin-bottom: 0;
}

.check-list__icon {
  width: 16px;
  height: 16px;
  background: url("../icon/mdi-light_check.svg") no-repeat center/contain;
}

.check-list__icon_white {
  background: url("../icon/mdi-light_check_white.svg") no-repeat center/contain;
}

.steps {
  background-color: #ffffff;
  border-radius: 4px;
  padding: 36px;
}

.steps__list {
  margin-top: 36px;
  display: grid;
  grid-gap: 24px;
  grid-template-columns: 1fr;
}

.steps__list-item {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: 36px auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.steps__list-num {
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  background-color: #F7F7F5;
  border-radius: 50%;
}

.steps__footer {
  padding-top: 24px;
  margin-top: 24px;
  border-top: 1px solid #EBEBEB;
}

.product {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding: 12px;
  width: 100%;
  height: 200px;
  background-color: #F7F7F5;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 4px;
  text-decoration: none;
  color: #1A1A1A;
}

.product__title {
  background: #ffffff;
  border-radius: 4px;
  padding: 4px 8px;
  z-index: 11;
}

.product__intro {
  font-size: 12px;
  line-height: 1.2;
  color: #9E877F;
}

.product:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-backdrop-filter: blur(0px);
  backdrop-filter: blur(0px);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.product:hover {
  color: #C4872F;
  text-decoration: none;
}

.product:hover:before {
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
}

.tags__item {
  padding: 6px 12px;
  border-radius: 4px;
  border: 1px solid #C4872F;
  text-decoration: none;
  font-size: 12px;
  margin-bottom: 4px;
}

.tags__item:hover, .tags__item:focus {
  text-decoration: none;
  border-color: #1A1A1A;
}

.review {
  border-radius: 4px;
  background-color: #F7F7F5;
  padding: 24px;
}

.review__info {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: 60px auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 24px;
}

.review__img {
  width: 60px;
  height: 60px;
  border-radius: 4px;
  background: #ffffff no-repeat center/48px;
}

.review__name {
  font-size: 12px;
}

.review_search {
  position: relative;
  width: 560px;
  max-width: 100%;
  height: 640px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.review_search__header {
  border-bottom: 1px solid #EBEBEB;
}

.review_search__more {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 20px 16px;
  background-color: #ffffff;
}

.review_search__more:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  height: 40px;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(#fff));
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0), #fff);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0), #fff);
}

.review_search__item {
  margin-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.review_search__content-col {
  max-width: calc(100% - 45px);
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(100% - 45px);
  flex: 0 0 calc(100% - 45px);
}

.review_search__image-col {
  max-width: 40px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 40px;
  flex: 0 0 40px;
}

.review_search__rating {
  padding: 24px 0;
}

.review_search__item-rating {
  padding: 12px 0 0;
}

.review_search__text {
  font-size: 12px;
  margin-bottom: 12px;
}

.review_google {
  padding: 20px 20px 32px;
  border-radius: 8px;
  border: 1px solid #EBEBEB;
  background-color: #ffffff;
}

.review_google__title {
  color: #333;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 0;
  line-height: 1.2;
}

.review_google__subtitle {
  color: #999;
  font-size: 13px;
  margin-bottom: 0;
}

.review_google__grade {
  font-size: 32px;
  font-weight: 600;
  line-height: 1;
  margin-right: 11px;
  color: #70757A;
  white-space: nowrap;
}

.review_google__count {
  color: #878787;
  white-space: nowrap;
  display: inline;
  font-size: 15px;
  margin-left: 11px;
}

.review_google__stars {
  display: inline-block;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAWCAYAAAA1vze2AAAAqUlEQVR4AWLwySwkGv/YzgworgwwAIphGHqJXWgX6nl6q55o/GHxCX4bUx9hMK9JYwucFSmAubW2ZifED8Q7IXEgcmRqVNDsgBhBrAMSBJEiqwAGAaBRhiDvBk1A3mkRyb2CXSYLlmWFnbArffoMIrjS6qy3Sm/Z/068CPEbyKpKhfCDyA0yNE95MKtRGe9LiSz9O3hKclv6Y76ictQzqbmjyhIkyVi+8wCta5MKDP5AeAAAAABJRU5ErkJggg==);
  background-size: 25px 22px;
  height: 22px;
  top: 1px;
  width: 125px;
}

.review_google__item-stars {
  display: inline-block;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAWCAYAAAA1vze2AAAAqUlEQVR4AWLwySwkGv/YzgworgwwAIphGHqJXWgX6nl6q55o/GHxCX4bUx9hMK9JYwucFSmAubW2ZifED8Q7IXEgcmRqVNDsgBhBrAMSBJEiqwAGAaBRhiDvBk1A3mkRyb2CXSYLlmWFnbArffoMIrjS6qy3Sm/Z/068CPEbyKpKhfCDyA0yNE95MKtRGe9LiSz9O3hKclv6Y76ictQzqbmjyhIkyVi+8wCta5MKDP5AeAAAAABJRU5ErkJggg==);
  background-size: 14px 13px;
  height: 13px;
  top: 1px;
  width: 70px;
  margin-right: 7px;
}

.review_yandex {
  padding: 0;
}

.toggle {
  border-radius: 4px;
  background-color: #F7F7F5;
  border: 1px solid #EBEBEB;
  margin-bottom: 12px;
}

.toggle:last-child {
  margin-bottom: 0;
}

.toggle__title {
  display: grid;
  grid-template-columns: auto 24px;
  grid-gap: 12px;
  padding: 24px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.toggle__title:after {
  content: '';
  display: block;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  width: 24px;
  height: 24px;
  background: url("../icon/mdi-light_arrow-down.svg") no-repeat center/24px;
}

.toggle__title:hover {
  color: #C4872F;
}

.toggle__title--active {
  font-weight: 700;
}

.toggle__title--active:after {
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.toggle__content {
  display: none;
  padding: 0 24px 24px;
}

.contact {
  display: grid;
  grid-gap: 12px;
  grid-template-columns: 26px auto;
}

.news {
  padding: 24px;
  border-radius: 4px;
  background: #F7F7F5;
}

.learning {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: 48px auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 24px;
  border-radius: 4px;
  border: 1px solid #EBEBEB;
  background-color: #ffffff;
  text-decoration: none;
  color: #1A1A1A;
}

.learning:hover {
  background-color: #F7F7F5;
  text-decoration: none;
}

.learning__content {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: auto 1fr;
}

.learning__title {
  font-size: 18px;
  font-weight: 700;
}

.poll__title {
  font-weight: 700;
}

.poll__row {
  position: relative;
  display: grid;
  grid-gap: 12px;
  grid-template-columns: 240px 1fr;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 12px;
}

.poll__count {
  display: grid;
  grid-gap: 12px;
  grid-template-columns: 80px 80px auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.poll__delete {
  position: absolute;
  right: 0;
  width: 24px;
  height: 24px;
  line-height: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #EBEBEB;
  border-radius: 50%;
}

.poll__select {
  width: 100%;
  padding: 12px;
}

.poll__input {
  padding: 12px;
}

.poll__label {
  margin: 0;
  font-size: 12px;
  line-height: 1.2;
}

.poll__add {
  font-weight: 700;
  text-decoration: underline;
  margin: 12px 0;
}

.poll__result {
  padding: 24px;
  background-color: #EBEBEB;
  border: 1px solid #9E877F;
  display: grid;
  grid-gap: 12px;
  grid-template-columns: repeat(1, 1fr);
}

.poll__result-col {
  display: grid;
  grid-gap: 12px;
  grid-template-columns: auto 1fr;
}

.poll__subtitle {
  margin: 0;
}

.poll__value {
  text-align: right;
}

.poll__btn {
  margin-top: 24px;
}

.poll__step_form {
  display: none;
}

.header {
  position: relative;
  padding: 36px 0;
  background: #1A1A1A;
  color: #ffffff;
}

.header__grid {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: 160px 1fr auto 160px;
  grid-template-areas: "logo subnav contact phone" "nav nav nav info";
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__logo {
  grid-area: logo;
  max-width: 100%;
  height: 26px;
}

.header__nav-additional {
  grid-area: subnav;
}

.header__nav {
  grid-area: nav;
}

.header__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__contact-item {
  padding-left: 24px;
  font-size: 12px;
  color: #ffffff;
  text-decoration: none;
  -webkit-filter: opacity(0.75);
  filter: opacity(0.75);
}

.header__contact-item:hover, .header__contact-item:focus {
  text-decoration: none;
  color: #C4872F;
  -webkit-filter: opacity(1);
  filter: opacity(1);
  text-decoration: none;
}

.header__icon {
  margin-right: 12px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header__phone {
  grid-area: phone;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  text-align: right;
  text-decoration: none;
  white-space: nowrap;
}

.header__phone:hover, .header__phone:focus {
  color: #C4872F;
  text-decoration: none;
}

.header__inform {
  grid-area: info;
  font-size: 12px;
  text-align: right;
  -webkit-filter: opacity(0.75);
  filter: opacity(0.75);
}

.header__mobile {
  display: none;
}

.header__toggle {
  height: 30px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header__toggle:hover, .header__toggle:focus {
  -webkit-filter: opacity(0.4);
  filter: opacity(0.4);
}

@media all and (max-width: 1440px) {
  .header__grid {
    grid-template-columns: 140px auto auto 120px;
  }
  .header__phone {
    font-size: 14px;
  }
  .header__contact-item {
    padding-left: 12px;
  }
}

@media all and (max-width: 1024px) {
  .header__grid {
    grid-template-columns: 140px auto 160px;
    grid-template-areas: "logo subnav phone" "nav nav info";
  }
  .header__contact {
    display: none;
  }
}

@media all and (max-width: 768px) {
  .header {
    padding: 24px 0;
  }
  .header__mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .header__link {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .header__link_desktop {
    display: none;
  }
  .header__grid {
    display: none;
    grid-template-columns: auto 160px;
    grid-template-areas: "nav nav" "subnav subnav" "contact info" "phone phone";
    padding-top: 24px;
  }
  .header__grid--active {
    display: grid;
  }
  .header__contact {
    display: block;
  }
  .header__contact-item {
    padding-left: 0;
    padding-right: 24px;
  }
  .header__phone {
    text-align: left;
  }
  .header__toggle rect {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  .header__toggle--open rect:nth-child(1) {
    -webkit-transform: rotate(30deg) translateY(4px);
    -ms-transform: rotate(30deg) translateY(4px);
    transform: rotate(30deg) translateY(4px);
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
  }
  .header__toggle--open rect:nth-child(2) {
    -webkit-transform: rotate(-30deg) translateY(-4px);
    -ms-transform: rotate(-30deg) translateY(-4px);
    transform: rotate(-30deg) translateY(-4px);
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
  }
}

@media all and (max-width: 576px) {
  .header__grid {
    grid-template-columns: auto;
    grid-template-areas: "nav" "subnav" "phone" "contact" "info";
  }
  .header__inform {
    text-align: left;
  }
}

.header_index {
  padding: 36px 0 60px;
}

@media all and (max-width: 768px) {
  .header_index {
    padding: 24px 0;
  }
}

.footer {
  padding: 36px 0;
  background: #1A1A1A;
  color: #ffffff;
}

.footer__grid {
  display: grid;
  grid-template-columns: 160px auto 160px;
  grid-gap: 36px;
  margin-bottom: 12px;
}

.footer__logo {
  height: 26px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.footer__logo:hover, .footer__logo:focus {
  -webkit-filter: opacity(0.7);
  filter: opacity(0.7);
}

.footer__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer__contact-item {
  padding-left: 24px;
  font-size: 12px;
  color: #ffffff;
  -webkit-filter: opacity(0.75);
  filter: opacity(0.75);
}

.footer__contact-item:hover, .footer__contact-item:focus {
  color: #C4872F;
  -webkit-filter: opacity(1);
  filter: opacity(1);
  text-decoration: none;
}

.footer__icon {
  margin-right: 12px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.footer__phone {
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  text-align: right;
}

.footer__phone:hover, .footer__phone:focus {
  color: #C4872F;
  text-decoration: none;
}

.footer__additional {
  font-size: 12px;
  color: #9E877F;
}

.footer__additional-link {
  color: #9E877F;
}

.footer__additional-link:hover, .footer__additional-link:focus {
  color: #ffffff;
}

.footer__sep {
  padding: 0 12px;
}

@media all and (max-width: 768px) {
  .footer__grid {
    grid-template-columns: 160px auto;
    grid-gap: 24px;
    margin-bottom: 24px;
  }
  .footer__phone {
    text-align: left;
  }
}

@media all and (max-width: 576px) {
  .footer__grid {
    grid-template-columns: 1fr;
  }
  .footer__contact {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .footer__contact-item {
    padding-left: 0;
    padding-right: 24px;
  }
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
  margin-bottom: 12px;
}

.breadcrumbs__item {
  font-size: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  -webkit-filter: opacity(0.5);
  filter: opacity(0.5);
}

.breadcrumbs__item:after {
  content: '/';
  display: inline-block;
}

.breadcrumbs__item_active:after {
  content: '';
}

.breadcrumbs__link {
  padding-right: 12px;
}

.sidebar {
  padding: 24px;
  border: 1px solid #EBEBEB;
  border-radius: 4px;
}

.sidebar__title {
  font-weight: 700;
}

.sidebar__item {
  text-decoration: none;
}

.sidebar__item:hover {
  text-decoration: none;
}

.sidebar__intro {
  color: #9E877F;
}

.pagination {
  list-style: none;
  padding: 0;
  display: grid;
  grid-gap: 12px;
  grid-template-columns: repeat(auto-fill, minmax(26px, auto));
}

.pagination__item {
  text-align: center;
  border-radius: 4px;
  width: 26px;
  height: 26px;
  line-height: 26px;
  background: #EBEBEB;
}

.pagination__item--active {
  background: #415E4A;
  color: #ffffff;
}

.content__title {
  font-weight: 700;
}

.content__inform {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 24px;
  -moz-column-gap: 24px;
  column-gap: 24px;
}

.content__slider:not(.swiper-wrapper) {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(3, 1fr);
  max-width: 720px;
  margin-left: auto;
}

.content__slider-item {
  position: relative;
  border-radius: 4px;
  border: 1px solid #EBEBEB;
  overflow: hidden;
  color: #4B403F;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.content__slider-item:hover {
  color: #C4872F;
  -webkit-filter: grayscale(0.5);
  filter: grayscale(0.5);
}

.content__slider-title {
  position: absolute;
  bottom: 12px;
  left: 12px;
  font-size: 12px;
  background: #ffffff;
  border-radius: 4px;
  padding: 6px 12px;
  width: calc(100% - 24px);
}

.content__cta-form {
  padding-top: 48px;
}

@media all and (max-width: 1024px) {
  .content__slider:not(.swiper-wrapper) {
    margin-left: 0;
  }
}

@media all and (max-width: 768px) {
  .content__slider:not(.swiper-wrapper) {
    grid-gap: 12px;
  }
}

@media all and (max-width: 576px) {
  .content__slider-title {
    width: calc(100% - 48px);
  }
  .content__inform {
    -webkit-column-count: unset;
    -moz-column-count: unset;
    column-count: unset;
  }
  .content__cta-form {
    padding-top: 36px;
  }
}

.content_slider {
  background-color: #F7F7F5;
  border-radius: 4px;
  padding: 48px 72px;
  -webkit-transform: translateY(-36px);
  -ms-transform: translateY(-36px);
  transform: translateY(-36px);
}

@media all and (max-width: 1440px) {
  .content_slider {
    padding: 48px 60px;
  }
}

@media all and (max-width: 1024px) {
  .content_slider {
    padding: 48px 36px;
  }
}

@media all and (max-width: 768px) {
  .content_slider {
    padding: 48px;
    -webkit-transform: unset;
    -ms-transform: unset;
    transform: unset;
  }
}

@media all and (max-width: 576px) {
  .content_slider {
    padding: 36px;
    margin-top: 24px;
  }
}

.content_secondary {
  background-color: #F7F7F5;
  border-radius: 4px;
  padding: 48px 72px;
}

@media all and (max-width: 1440px) {
  .content_secondary {
    padding: 48px 60px;
  }
}

@media all and (max-width: 768px) {
  .content_secondary {
    padding: 36px;
  }
}

@media all and (max-width: 375px) {
  .content_secondary {
    padding: 24px;
  }
}

.content_action {
  background-color: #415E4A;
  color: #ffffff;
  padding: 36px;
  border-radius: 4px;
}

@media all and (max-width: 375px) {
  .content_action {
    padding: 24px;
  }
}

.map {
  width: 100%;
  height: 360px;
}

.docs {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
}

.docs__item {
  display: grid;
  grid-gap: 12px;
  grid-template-columns: 16px auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 12px;
  border-radius: 4px;
  background-color: #415E4A;
  color: #ffffff;
}

.docs__item::before {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  background: url("../icon/download_icon.svg") no-repeat center/contain;
}

.docs__item_link {
  text-decoration: none;
}

.docs__item_link:hover {
  text-decoration: none;
  color: #ffffff;
  background-color: #344c3c;
}
