extends ../blocks/main.pug

block variables
    - var pageTitle = "404"
    link(rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css")
block content
    section.container.pt-5.pb-5
        .breadcrumbs
            .breadcrumbs__item
                a.breadcrumbs__link(href="/" title="Главная") Главная
            .breadcrumbs__item.breadcrumbs__item_active Ошибка 404
        .content
            h1.content__title Ошибка 404
            p.lead Страница удалена или не существует. Вы можете перейти в нужный раздел, воспользовавшись меню вернитесь на главную страницу сайта или ознакомиться со всеми курсами учебного центра
            p.mt-1
                a.btn.btn_action(href="#") Каталог курсов
        .content.content_secondary.mt-4 
            .row 
                .col-4
                    p.content__title.h3 Оставьте заявку
                    p Специалисты учебного центра оперативно ответят на любые ваши вопросы
                .col-8
                    .content__cta-form 
                        form.form.form_cta(action="")
                            .form_cta__row
                                input.input.input_full(data-input="phone" type="tel" placeholder="Мобильный телефон *") 
                                button.btn.btn_action(type="submit") Отправить заявку
                            .form__agree Нажимая на кнопку, я соглашаюсь на обработку персональных данных и с правилами пользования сайтом
block footer
    script(src="https://unpkg.com/swiper@7/swiper-bundle.min.js")