extends ../blocks/main.pug

block variables
    - var pageTitle = "Index Page"
    link(rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css")
block content
    section.container
        .content.content_slider 
            .slider.slider_sales
                .slider_sales__nav
                    .slider__arrow.slider__arrow_prev
                        <svg class="slider__arrow-icon" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="16" height="16" rx="4" fill="white"/>
                            <path d="M16 14C16 14.5304 15.7893 15.0391 15.4142 15.4142C15.0391 15.7893 14.5304 16 14 16H2C1.46957 16 0.960859 15.7893 0.585786 15.4142C0.210714 15.0391 0 14.5304 0 14V2C0 1.46957 0.210714 0.960859 0.585786 0.585786C0.960859 0.210714 1.46957 0 2 0L14 0C14.5304 0 15.0391 0.210714 15.4142 0.585786C15.7893 0.960859 16 1.46957 16 2V14ZM11.5 7.5H5.707L7.854 5.354C7.94789 5.26011 8.00063 5.13278 8.00063 5C8.00063 4.86722 7.94789 4.73989 7.854 4.646C7.76011 4.55211 7.63278 4.49937 7.5 4.49937C7.36722 4.49937 7.23989 4.55211 7.146 4.646L4.146 7.646C4.09944 7.69245 4.06249 7.74762 4.03729 7.80837C4.01208 7.86911 3.99911 7.93423 3.99911 8C3.99911 8.06577 4.01208 8.13089 4.03729 8.19163C4.06249 8.25238 4.09944 8.30755 4.146 8.354L7.146 11.354C7.23989 11.4479 7.36722 11.5006 7.5 11.5006C7.63278 11.5006 7.76011 11.4479 7.854 11.354C7.94789 11.2601 8.00063 11.1328 8.00063 11C8.00063 10.8672 7.94789 10.7399 7.854 10.646L5.707 8.5H11.5C11.6326 8.5 11.7598 8.44732 11.8536 8.35355C11.9473 8.25979 12 8.13261 12 8C12 7.86739 11.9473 7.74021 11.8536 7.64645C11.7598 7.55268 11.6326 7.5 11.5 7.5Z" fill="#C4872F"/>
                        </svg>
                    .slider__pagination.slider_sales__pagination
                    .slider__arrow.slider__arrow_next
                        <svg class="slider__arrow-icon" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="16" height="16" rx="4" fill="white"/>
                            <path d="M0 14C0 14.5304 0.210714 15.0391 0.585786 15.4142C0.960859 15.7893 1.46957 16 2 16H14C14.5304 16 15.0391 15.7893 15.4142 15.4142C15.7893 15.0391 16 14.5304 16 14V2C16 1.46957 15.7893 0.960859 15.4142 0.585786C15.0391 0.210714 14.5304 0 14 0L2 0C1.46957 0 0.960859 0.210714 0.585786 0.585786C0.210714 0.960859 0 1.46957 0 2L0 14ZM4.5 7.5H10.293L8.146 5.354C8.05211 5.26011 7.99937 5.13278 7.99937 5C7.99937 4.86722 8.05211 4.73989 8.146 4.646C8.23989 4.55211 8.36722 4.49937 8.5 4.49937C8.63278 4.49937 8.76011 4.55211 8.854 4.646L11.854 7.646C11.9006 7.69245 11.9375 7.74762 11.9627 7.80837C11.9879 7.86911 12.0009 7.93423 12.0009 8C12.0009 8.06577 11.9879 8.13089 11.9627 8.19163C11.9375 8.25238 11.9006 8.30755 11.854 8.354L8.854 11.354C8.76011 11.4479 8.63278 11.5006 8.5 11.5006C8.36722 11.5006 8.23989 11.4479 8.146 11.354C8.05211 11.2601 7.99937 11.1328 7.99937 11C7.99937 10.8672 8.05211 10.7399 8.146 10.646L10.293 8.5H4.5C4.36739 8.5 4.24021 8.44732 4.14645 8.35355C4.05268 8.25979 4 8.13261 4 8C4 7.86739 4.05268 7.74021 4.14645 7.64645C4.24021 7.55268 4.36739 7.5 4.5 7.5Z" fill="#C4872F"/>
                        </svg>                     
                .slider__wrapper
                    .slider__slide.slider_sales__item 
                        .slider__image
                            img.img-fluid(src="../img/demo.png")
                        .slider__content
                            .slider__subtitle.label Приведи друга
                            p.h3.slider__title Получи скидку 10% на следующий заказ
                            .slider__intro Ut consectetur suscipit scelerisque porta elementum risus porttitor. Vulputate bibendum sagittis eu molestie nunc.
                    .slider__slide.slider_sales__item 
                        .slider__image
                            img.img-fluid(src="../img/demo.png")
                        .slider__content
                            .slider__subtitle.label Приведи друга
                            p.h3.slider__title Получи скидку 30% на следующий заказ
                            .slider__intro Ut consectetur suscipit scelerisque porta elementum risus porttitor. Vulputate bibendum sagittis eu molestie nunc.
        .content.pt-5.pb-5.mt-1
            h1.h4.content__title Учебный центр в Санкт-Петербурге «Консул»
            p.content__inform Центр обучения «Консул» приветствует вас! Что для вас важно при выборе партнёра по обучению? Надёжность? Скорость? Легитимность? Цена? Персональный подход? Всё это вы найдёте в нашей компании!
                | Учебный центр в Санкт-Петербурге «Консул» – это команда профессионалов, которая решит все задачи в области охраны труда, разрешительной документации, а также лицензирования. 
                | Вы сможете сосредоточиться на самом главном — вашей деятельности! С помощью нашего учебного центра вы в максимально короткие сроки сможете решить любые вопросы, начиная от обучения по пожарно-техническому минимуму, заканчивая экспертизой с последующей разработкой и внедрением системы охраны труда.
        .content
            .row
                .col-sm-12.col-md-6.col-lg-6.col-4.mt-1
                    .advantage
                        .advantage__icon(style="background-image: url('../icon/demo-icon.png');")
                        .advantage__content
                            .advantage__title Аккредитованный УЦ
                            .advantage__intro Получайте удостоверения и документы в соответствии с Законодательством РФ.
                .col-sm-12.col-md-6.col-lg-6.col-4.mt-1
                    .advantage
                        .advantage__icon(style="background-image: url('../icon/demo-icon.png');")
                        .advantage__content
                            .advantage__title Доставка документов
                            .advantage__intro Получайте документы на руки на следующий день. Доставка по СПб бесплатно.
                .col-sm-12.col-md-6.col-lg-6.col-4.mt-1
                    .advantage
                        .advantage__icon(style="background-image: url('../icon/demo-icon.png');")
                        .advantage__content
                            .advantage__title Без отрыва от процесса
                            .advantage__intro Очное и дистанционное обучение без отрыва от рабочего процесса.
                .col-sm-12.col-md-6.col-lg-6.col-4.mt-1
                    .advantage
                        .advantage__icon(style="background-image: url('../icon/demo-icon.png');")
                        .advantage__content
                            .advantage__title Работа без штрафов
                            .advantage__intro Сэкономьте в среднем до 250 000 р. на штрафах и санкциях.
                .col-sm-12.col-md-6.col-lg-6.col-4.mt-1
                    .advantage
                        .advantage__icon(style="background-image: url('../icon/demo-icon.png');")
                        .advantage__content
                            .advantage__title 100% результат
                            .advantage__intro Гарантия быстрого получения документов, необходимых для ведения деятельности.
                .col-sm-12.col-md-6.col-lg-6.col-4.mt-1
                    .advantage
                        .advantage__icon(style="background-image: url('../icon/demo-icon.png');")
                        .advantage__content
                            .advantage__title >500 программ
                            .advantage__intro Обучение для руководителей, специалистов и рабочих с разным уровнем подготовки.
                .col-sm-12.col-md-6.col-lg-6.col-4.mt-1
                    .advantage
                        .advantage__icon(style="background-image: url('../icon/demo-icon.png');")
                        .advantage__content
                            .advantage__title Специалисты-практики
                            .advantage__intro Практический подход в решении вопросов, связанных с законностью деятельности
                .col-sm-12.col-md-6.col-lg-6.col-4.mt-1
                    .advantage
                        .advantage__icon(style="background-image: url('../icon/demo-icon.png');")
                        .advantage__content
                            .advantage__title Консультации
                            .advantage__intro Специалист учебного центра помогут разобраться в сложных рабочих ситуациях.
        .content.pt-5.pb-5.mt-1
            .row.align-items-center
                .col-md-12.col-lg-4.col-4
                    p.h2.content__title Лицензии и&nbsp;аккредитации
                    p Северный Путь является аккредитованным учебным центром и&nbsp;имеет всю&nbsp;необходимую 
                        | документацию для&nbsp;ведения образовательной деятельности. Здесь вы можете ознакомиться 
                        | с&nbsp;лицензиями и&nbsp;разрешениями компании.
                    a.text-bold(href="info.html") Сведения об образовательной организации
                .col-md-12.col-lg-8.col-8
                    .content__slider
                        a.content__slider-item(href="../img/license-demo.png" data-fancybox)
                            img.img-fluid(src="../img/license-demo.png")
                            .content__slider-title Лицензия на осуществление образовательной деятельности
                        a.content__slider-item(href="../img/license-demo.png" data-fancybox)
                            img.img-fluid(src="../img/license-demo.png")
                            .content__slider-title Приложение лицензии
                        a.content__slider-item(href="../img/license-demo.png" data-fancybox)
                            img.img-fluid(src="../img/license-demo.png")
                            .content__slider-title Аккредитация организации
        .content.content_secondary.mt-1
            p.h4.content__title Услуги учебного центра
            .row
                .mt-1.col-sm-12.col-md-6.col-lg-6.col-4
                    +item_link("Аутсорсинг по охране труда", "8 программ", "#")
                .mt-1.col-sm-12.col-md-6.col-lg-6.col-4
                    +item_link("Расследование несчастных случаев", "8 программ", "#")
                .mt-1.col-sm-12.col-md-6.col-lg-6.col-4
                    +item_link("Лицензирование и сертификация", "8 программ", "#")
                .mt-1.col-sm-12.col-md-6.col-lg-6.col-4
                    +item_link("Судебное представительство и правовой анализ документов", "8 программ", "#")
                .mt-1.col-sm-12.col-md-6.col-lg-6.col-4
                    +item_link("Помощь при вступлении в СРО  и подготовке специалистов", "8 программ", "#")
                .mt-1.col-sm-12.col-md-6.col-lg-6.col-4
                    +item_link("Разработка документов по охране труда (СУОТ)", "8 программ", "#")
                .mt-1.col-sm-12.col-md-6.col-lg-6.col-4
                    +item_link("Специальная оценка условий труда (СОУТ)", "8 программ", "#")
                .mt-1.col-sm-12.col-md-6.col-lg-6.col-4
                    +item_link("Помощь при проверках надзорных органов", "8 программ", "#")
        .content.pt-5.pb-5.mt-1
            .row
                .col-8
                    p.h3.content__title Программы обучения
                .col-4.text-right 
                    a.btn.btn_action.btn_small(href="#") Все образовательные программы
            .row.mt-1
                .col-4.mt-1.col-stretch
                    .item.item_programm
                        .item_programm__inform(href="#")
                        a.item_programm__title(href="#") Курсы первой помощи для руководителей и&nbsp;сотрудников
                        .item_programm__content
                            .item_programm__list
                                .item_programm__list-item действие документов: бессрочно
                                .item_programm__list-item стоимость: от 1,500 ₽
                            .item_programm__order
                                a.item_programm__order-link(href="#") Оставить заявку
                            p.item_programm__subtitle Программы направления
                            .item_programm__link
                                a.item_programm__link-item(href="#") Строительство
                                a.item_programm__link-item(href="#") Проектирование
                                .item_programm__link-item(href="#") Инженерные изыскания
                .col-4.mt-1.col-stretch
                    .item.item_programm
                        .item_programm__inform(href="#")
                        a.item_programm__title(href="#") Целевое обучение
                        .item_programm__content
                            .item_programm__list
                                .item_programm__list-item действие документов: бессрочно
                                .item_programm__list-item стоимость: от 1,500 ₽
                            .item_programm__order
                                a.item_programm__order-link(href="#") Оставить заявку
                            p.item_programm__subtitle Программы направления
                            .item_programm__link
                                .item_programm__link-item(href="#") Хранение, транспортирование и использование баллонов, предназначенных для сжатых, сжиженных и растворённых под давлением газов
                                .item_programm__link-item(href="#") Монтаж сборно-разборных металлических конструкций
                                .item_programm__link-item(href="#") Оператор, управляющий грузоподъёмными машинами с пола или со станционного пульта
                .col-4.mt-1.col-stretch
                    .item.item_programm
                        .item_programm__inform(href="#")
                        a.item_programm__title(href="#") Курсы первой помощи для руководителей и&nbsp;сотрудников
                        .item_programm__content
                            .item_programm__list
                                .item_programm__list-item действие документов: бессрочно
                                .item_programm__list-item стоимость: от 1,500 ₽
                            .item_programm__order
                                a.item_programm__order-link(href="#") Оставить заявку
                            p.item_programm__subtitle Программы направления
                            .item_programm__link
                                .item_programm__link-item(href="#") Строительство
                                .item_programm__link-item(href="#") Проектирование
                                .item_programm__link-item(href="#") Инженерные изыскания
    aside.bg-light-grey.pt-4.pb-4
        .container 
            .row 
                .col-8
                    .content.content_action
                        p.h4.content__title Акции и спецпредложения
                        .row 
                            .col-6.mb-1
                                .item.item_sale 
                                    img.img-fluid.item_sale__icon(src="../icon/sale.png")
                                    p.item_sale__title Приведи друга
                                    p.item_sale__intro Скидка 10% на следующие заказы
                            .col-6.mb-1
                                .item.item_sale 
                                    img.img-fluid.item_sale__icon(src="../icon/gift.png")
                                    p.item_sale__title Бесплатная доставка
                                    p.item_sale__intro Доставка документов по СПб
                            .col-6
                                .item.item_sale 
                                    img.img-fluid.item_sale__icon(src="../icon/sale.png")
                                    p.item_sale__title Договор на год
                                    p.item_sale__intro -10% при заключении договора на год
                .col-4.col-stretch
                    .steps
                        .label.label_action Как устроена работа УЦ?
                        .steps__list
                            .steps__list-item
                                span.steps__list-num 1
                                span Оставьте заявку на обучение
                            .steps__list-item
                                span.steps__list-num 2
                                span Выберите удобный формат изучения: онлайн или офлайн
                            .steps__list-item
                                span.steps__list-num 3
                                span Получите документы и обучающие материалы не выходя из офиса
                        .steps__footer Orci, morbi arcu morbi libero interdum consectetur. Malesuada morbi facilisi suscipit volutpat. Eget dolor in.
    aside.pt-4.pb-4
        .container 
            .row 
                .col-4 
                    p.h4.content__title.mb-2 Новости учебного центра
                    a.item.item_news(href="text.html")
                        .item_news__date 30.08.2021
                        .item_news__title Приглашение на работу
                    a.item.item_news(href="text.html")
                        .item_news__date 30.08.2021
                        .item_news__title Специальная оценка условий труда
                    a.item.item_news(href="text.html")
                        .item_news__date 30.08.2021
                        .item_news__title Минтруд разработал правила охраны труда для охранников
                    a.item.item_news(href="text.html")
                        .item_news__date 30.08.2021
                        .item_news__title Приглашение на работу
                .col-8
                    p.h4.content__title.mb-2 Отзывы клиентов центра
                    .slider.slider_review
                        .slider_review__arrows
                            .slider__arrow.slider__arrow_prev
                                <svg class="slider__arrow-icon" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect width="16" height="16" rx="4" fill="white"/>
                                    <path d="M16 14C16 14.5304 15.7893 15.0391 15.4142 15.4142C15.0391 15.7893 14.5304 16 14 16H2C1.46957 16 0.960859 15.7893 0.585786 15.4142C0.210714 15.0391 0 14.5304 0 14V2C0 1.46957 0.210714 0.960859 0.585786 0.585786C0.960859 0.210714 1.46957 0 2 0L14 0C14.5304 0 15.0391 0.210714 15.4142 0.585786C15.7893 0.960859 16 1.46957 16 2V14ZM11.5 7.5H5.707L7.854 5.354C7.94789 5.26011 8.00063 5.13278 8.00063 5C8.00063 4.86722 7.94789 4.73989 7.854 4.646C7.76011 4.55211 7.63278 4.49937 7.5 4.49937C7.36722 4.49937 7.23989 4.55211 7.146 4.646L4.146 7.646C4.09944 7.69245 4.06249 7.74762 4.03729 7.80837C4.01208 7.86911 3.99911 7.93423 3.99911 8C3.99911 8.06577 4.01208 8.13089 4.03729 8.19163C4.06249 8.25238 4.09944 8.30755 4.146 8.354L7.146 11.354C7.23989 11.4479 7.36722 11.5006 7.5 11.5006C7.63278 11.5006 7.76011 11.4479 7.854 11.354C7.94789 11.2601 8.00063 11.1328 8.00063 11C8.00063 10.8672 7.94789 10.7399 7.854 10.646L5.707 8.5H11.5C11.6326 8.5 11.7598 8.44732 11.8536 8.35355C11.9473 8.25979 12 8.13261 12 8C12 7.86739 11.9473 7.74021 11.8536 7.64645C11.7598 7.55268 11.6326 7.5 11.5 7.5Z" fill="#C4872F"/>
                                </svg>
                            .slider__arrow.slider__arrow_next
                                <svg class="slider__arrow-icon" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect width="16" height="16" rx="4" fill="white"/>
                                    <path d="M0 14C0 14.5304 0.210714 15.0391 0.585786 15.4142C0.960859 15.7893 1.46957 16 2 16H14C14.5304 16 15.0391 15.7893 15.4142 15.4142C15.7893 15.0391 16 14.5304 16 14V2C16 1.46957 15.7893 0.960859 15.4142 0.585786C15.0391 0.210714 14.5304 0 14 0L2 0C1.46957 0 0.960859 0.210714 0.585786 0.585786C0.210714 0.960859 0 1.46957 0 2L0 14ZM4.5 7.5H10.293L8.146 5.354C8.05211 5.26011 7.99937 5.13278 7.99937 5C7.99937 4.86722 8.05211 4.73989 8.146 4.646C8.23989 4.55211 8.36722 4.49937 8.5 4.49937C8.63278 4.49937 8.76011 4.55211 8.854 4.646L11.854 7.646C11.9006 7.69245 11.9375 7.74762 11.9627 7.80837C11.9879 7.86911 12.0009 7.93423 12.0009 8C12.0009 8.06577 11.9879 8.13089 11.9627 8.19163C11.9375 8.25238 11.9006 8.30755 11.854 8.354L8.854 11.354C8.76011 11.4479 8.63278 11.5006 8.5 11.5006C8.36722 11.5006 8.23989 11.4479 8.146 11.354C8.05211 11.2601 7.99937 11.1328 7.99937 11C7.99937 10.8672 8.05211 10.7399 8.146 10.646L10.293 8.5H4.5C4.36739 8.5 4.24021 8.44732 4.14645 8.35355C4.05268 8.25979 4 8.13261 4 8C4 7.86739 4.05268 7.74021 4.14645 7.64645C4.24021 7.55268 4.36739 7.5 4.5 7.5Z" fill="#C4872F"/>
                                </svg>
                        .slider__wrapper.slider_review__wrapper
                            .slider__slide.slider_review__item 
                                .review
                                    .review__info
                                        .review__img(style="background-image:url('../img/logo.png');")
                                        .review__name ООО Компания | 24 апреля 2021
                                    .review__content Ac lectus commodo odio volutpat. Imperdiet vel volutpat sed enim. Mattis sem tortor nam amet, feugiat quis enim. At elit sed bibendum enim varius risus.
                            .slider__slide.slider_review__item 
                                .review
                                    .review__info
                                        .review__img(style="background-image:url('../img/logo.png');")
                                        .review__name ООО Компания | 24 апреля 2021
                                    .review__content Ac lectus commodo odio volutpat. Imperdiet vel volutpat sed enim. 
                            .slider__slide.slider_review__item 
                                .review
                                    .review__info
                                        .review__img(style="background-image:url('../img/logo.png');")
                                        .review__name ООО Компания | 24 апреля 2021
                                    .review__content Ac lectus commodo odio volutpat. Imperdiet vel volutpat sed enim. Mattis sem tortor nam amet, feugiat quis enim. At elit sed bibendum enim varius risus.
            .content.content_secondary.mt-4 
                .row 
                    .col-4
                        p.content__title.h3 Остались вопросы? Задайте их нам
                        p Специалисты учебного центра оперативно ответят на любые ваши вопросы
                    .col-8
                        .content__cta-form 
                            form.form.form_cta(action="")
                                input.input.input_full(type="text" placeholder="Ваш вопрос")
                                .form_cta__row
                                    input.input.input_full(data-input="phone" type="tel" placeholder="Мобильный телефон *") 
                                    button.btn.btn_action(type="submit") Отправить заявку
                                .form__agree Нажимая на кнопку, я соглашаюсь на обработку персональных данных и с правилами пользования сайтом
    section.container.pb-5
        .content
            p.h4.content__title Учебный центр в Санкт-Петербурге «Консул»
            .content__toggle
                p Учебный центр в Санкт-Петербурге Консул предлагает пройти обучение для специалистов, руководителей. Мы предлагаем:
                ul
                    li Курсы обучения по пожарной безопасности, охране труда и обучение навыкам первой помощи
                        | <br> В нашем центре вы сможете найти курсы по ПТМ и ОТ для общеобразовательной школы, салона красоты, школы языков, кафе, медицинских центров и для других видов бизнеса.
                    li Курсы повышения квалификации
                        | <br> На базе школы дополнительного обучения Консул вы можете пройти повышение квалификации по направлениям: Экологическая безопасность, Реставрационные работы, Инструкторы по вождению, Педагоги и др.
                    li Узкоспециализированные направления: Гражданская оборона и защита от ЧС (ГО и ЧС), Охрана труда при работе на высоте, Электробезопасность и т д.
                        | <br> Программы подходят для руководителей, специалистов, работников организаций всех отраслей промышленности.
                    li Обучение новой профессии
                        | <br> Все желающие освоить новую рабочую специальность смогут выбрать для себя новую профессию из широкого перечня и пройти обучение.
                .d-none#full
                    p.h5 100% соответствие требованиям
                    p Учебный центр в Санкт-Петербурге соответствует установленным требованиям и нормам, что подтверждает документация:
                    ul
                        li Лицензия на ведение образовательной деятельности от Департамента образования;
                        li Подтверждение о внесении компании в реестр аккредитованных организаций в области охраны труда;
                        li Согласование программ обучения по охране труда и пожарно-техническому минимуму в компетентных органах;
                        li Заключение СЭС и ГПН о соответствии учебных классов установленным нормам.
                    p.h5 Преподаватели учебного центра в Санкт-Петербурге
                    p Наша школа сотрудничает с квалифицированными педагогами-практиками, поэтому гарантирует высокое качество обучения по всем направлениям. Преподаватели проводят очные занятия, а также консультируют по всем вопросам, возникающих по учебным материалам.
                    p.h5 Форматы обучения
                    p Обучение рассчитано как для физических и юридических лиц. Курсы доступны для очного и дистанционного прохождения материалов. Помимо занятий в оборудованных классах возможна организация выездного обучения и проведение уроков на территории работодателя.
                    p Вне зависимости от выбранного формата после окончания обучения проводится тестирование и аттестация, по результатам которой выдается удостоверение установленного образца.
                    p
                        a(href="#") Гражданская оборона и защита от ЧС
            .mt-1
                a.btn.btn_action.btn_small(data-trigger="toggle" href="#" data-toggle="#full" data-status="" data-open="Узнать больше" data-close="Скрыть") Узнать больше
block footer
    script(src="https://unpkg.com/swiper@7/swiper-bundle.min.js")