.input{
    border: none;
    outline: none;

    font-size: map-get($map: $font-size, $key: "md");
    line-height: $line-height-base;
    
    border: 1px solid $white;
    border-radius: $border-radius;
    background: $white;

    padding: $spacer/2 $spacer;

    &::placeholder{
        filter: opacity(1);
        transition: $transition-base;
    }

    &:focus{
        &::placeholder{
            filter: opacity(0);
        }
    }

    // Modification
    &_full{
        width: 100%;
    }
    &_inverse{
        background: $grey-light;
        border-color: $grey;
    }

    // JS State
    &--error{
        border-color: $red;
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'xs')){
    .input{
        padding: 16px;
    }
}