.content_slider{
    background-color: $grey-light;
    border-radius: $border-radius;
    padding: map-get($map: $spacers, $key: 3) map-get($map: $spacers, $key: 5);
    margin-top: -(map-get($map: $spacers, $key: 2));
}
// < 1440px
@media all and (max-width: map-get($grid-breakpoints, 'xl')){
    .content_slider{
        padding: map-get($map: $spacers, $key: 3) map-get($map: $spacers, $key: 4);
    }
}
// < 1024px
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .content_slider{
        padding: map-get($map: $spacers, $key: 3) map-get($map: $spacers, $key: 2);
    }
}
// < 768px
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .content_slider{
        padding: map-get($map: $spacers, $key: 3);
    }
}
// < 576px
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .content_slider{
        padding: map-get($map: $spacers, $key: 2);
        margin-top: map-get($map: $spacers, $key: 1);
    }
}