.content_secondary{
    background-color: $grey-light;
    border-radius: $border-radius;
    padding: map-get($map: $spacers, $key: 3) map-get($map: $spacers, $key: 5);
}
// < 1440px
@media all and (max-width: map-get($grid-breakpoints, 'xl')){
    .content_secondary{
        padding: map-get($map: $spacers, $key: 3) map-get($map: $spacers, $key: 4);
    }
}
// < 768px
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .content_secondary{
        padding: map-get($map: $spacers, $key: 2);
    }
}
// < 375px
@media all and (max-width: map-get($grid-breakpoints, 'xs')){
    .content_secondary{
        padding: map-get($map: $spacers, $key: 1);
    }    
}